In [66]:
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Embedding, LSTM, CuDNNLSTM, CuDNNGRU, Dropout, Bidirectional
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

In [73]:
data = pd.read_csv('data/training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')
data = data[['target', 'text']]

In [74]:
data

         target                                               text
0             0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1             0  is upset that he can't update his Facebook by ...
2             0  @Kenichan I dived many times for the ball. Man...
3             0    my whole body feels itchy and like its on fire
4             0  @nationwideclass no, it's not behaving at all....
...         ...                                                ...
1599995       4  Just woke up. Having no school is the best fee...
1599996       4  TheWDB.com - Very cool to hear old Walt interv...
1599997       4  Are you ready for your MoJo Makeover? Ask me f...
1599998       4  Happy 38th Birthday to my boo of alll time!!! ...
1599999       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [75]:
accepted_chars = 'abcdefghijklmnopqrstuvwxyz '

def normalize(line):
    new_chars = [c.lower() for c in line if c.lower() in accepted_chars]
    return ''.join(new_chars)

In [76]:
for idx,row in data.iterrows():
    # print(data.at[idx, 'text'])
    data.at[idx, 'text'] = normalize(data.at[idx, 'text'].replace('rt', ' '))
    ## row[1] = normalize(row[1].replace('rt',' '))

In [77]:
data

         target                                               text
0             0  switchfoot httptwitpiccomyzl  awww thats a bum...
1             0  is upset that he cant update his facebook by t...
2             0  kenichan i dived many times for the ball manag...
3             0    my whole body feels itchy and like its on fire
4             0  nationwideclass no its not behaving at all im ...
...         ...                                                ...
1599995       4  just woke up having no school is the best feel...
1599996       4  thewdbcom  very cool to hear old walt intervie...
1599997       4  are you ready for your mojo makeover ask me fo...
1599998       4  happy th bi hday to my boo of alll time tupac ...
1599999       4  happy charitytuesday thenspcc sparkscharity sp...

[1600000 rows x 2 columns]

In [78]:
max_features = 2000

In [79]:
tokenizer = Tokenizer(num_words=max_features, split=' ')
tokenizer.fit_on_texts(data['text'].values)
X = tokenizer.texts_to_sequences(data['text'].values)
X = pad_sequences(X)

In [80]:
X

array([[   0,    0,    0, ...,   40,    9,  386],
       [   0,    0,    0, ...,   42,  264, 1203],
       [   0,    0,    0, ...,   38,   34,   12],
       ...,
       [   0,    0,    0, ...,  612,   15,   10],
       [   0,    0,    0, ...,  503,   12,   50],
       [   0,    0,    0, ...,    0,    0,  117]], dtype=int32)

In [82]:
model = Sequential()
model.add(Embedding(max_features, 128, input_length = X.shape[1]))
model.add(CuDNNLSTM(128))
model.add(Dense(2, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

Model: "sequential_13"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_13 (Embedding)     (None, 40, 128)           256000
_________________________________________________________________
cu_dnnlstm_11 (CuDNNLSTM)    (None, 128)               132096
_________________________________________________________________
dense_13 (Dense)             (None, 2)                 258
=================================================================
Total params: 388,354
Trainable params: 388,354
Non-trainable params: 0
_________________________________________________________________
None

In [83]:
Y = pd.get_dummies(data['target']).values

In [84]:
Y

array([[1, 0],
       [1, 0],
       [1, 0],
       ...,
       [0, 1],
       [0, 1],
       [0, 1]], dtype=uint8)

In [130]:
Y = pd.get_dummies(data['target']).values
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.90, random_state = 22)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(160000, 40) (160000, 2)
(1440000, 40) (1440000, 2)

In [86]:
batch_size = 1000
model.fit(X_train, Y_train, epochs=100, batch_size=batch_size, verbose = 2)

Epoch 1/100
1072000/1072000 - 27s - loss: 0.4612 - acc: 0.7804
Epoch 2/100
1072000/1072000 - 25s - loss: 0.4291 - acc: 0.7996
Epoch 3/100
1072000/1072000 - 27s - loss: 0.4196 - acc: 0.8049
Epoch 4/100
1072000/1072000 - 29s - loss: 0.4116 - acc: 0.8093
Epoch 5/100
1072000/1072000 - 29s - loss: 0.4044 - acc: 0.8131
Epoch 6/100
1072000/1072000 - 29s - loss: 0.3976 - acc: 0.8170
Epoch 7/100
1072000/1072000 - 29s - loss: 0.3910 - acc: 0.8206
Epoch 8/100
1072000/1072000 - 29s - loss: 0.3848 - acc: 0.8241
Epoch 9/100
1072000/1072000 - 29s - loss: 0.3787 - acc: 0.8273
Epoch 10/100
1072000/1072000 - 29s - loss: 0.3725 - acc: 0.8308
Epoch 11/100
1072000/1072000 - 29s - loss: 0.3663 - acc: 0.8341
Epoch 12/100
1072000/1072000 - 29s - loss: 0.3598 - acc: 0.8373
Epoch 13/100
1072000/1072000 - 29s - loss: 0.3531 - acc: 0.8406
Epoch 14/100
1072000/1072000 - 29s - loss: 0.3458 - acc: 0.8444
Epoch 15/100
1072000/1072000 - 29s - loss: 0.3385 - acc: 0.8483
Epoch 16/100
1072000/1072000 - 29s - loss: 0.3306 - acc: 0.8522
Epoch 17/100
1072000/1072000 - 29s - loss: 0.3226 - acc: 0.8563
Epoch 18/100
1072000/1072000 - 29s - loss: 0.3145 - acc: 0.8603
Epoch 19/100
1072000/1072000 - 29s - loss: 0.3063 - acc: 0.8646
Epoch 20/100
1072000/1072000 - 29s - loss: 0.2983 - acc: 0.8686
Epoch 21/100
1072000/1072000 - 29s - loss: 0.2901 - acc: 0.8726
Epoch 22/100
1072000/1072000 - 29s - loss: 0.2820 - acc: 0.8767
Epoch 23/100
1072000/1072000 - 29s - loss: 0.2745 - acc: 0.8804
Epoch 24/100
1072000/1072000 - 29s - loss: 0.2671 - acc: 0.8840
Epoch 25/100
1072000/1072000 - 29s - loss: 0.2599 - acc: 0.8876
Epoch 26/100
1072000/1072000 - 29s - loss: 0.2527 - acc: 0.8909
Epoch 27/100
1072000/1072000 - 29s - loss: 0.2464 - acc: 0.8939
Epoch 28/100
1072000/1072000 - 29s - loss: 0.2396 - acc: 0.8974
Epoch 29/100
1072000/1072000 - 29s - loss: 0.2341 - acc: 0.9002
Epoch 30/100
1072000/1072000 - 29s - loss: 0.2283 - acc: 0.9028
Epoch 31/100
1072000/1072000 - 29s - loss: 0.2225 - acc: 0.9056
Epoch 32/100
1072000/1072000 - 29s - loss: 0.2178 - acc: 0.9078
Epoch 33/100
1072000/1072000 - 29s - loss: 0.2127 - acc: 0.9101
Epoch 34/100
1072000/1072000 - 29s - loss: 0.2084 - acc: 0.9123
Epoch 35/100
1072000/1072000 - 29s - loss: 0.2034 - acc: 0.9148
Epoch 36/100
1072000/1072000 - 29s - loss: 0.1994 - acc: 0.9164
Epoch 37/100
1072000/1072000 - 29s - loss: 0.1947 - acc: 0.9187
Epoch 38/100
1072000/1072000 - 29s - loss: 0.1914 - acc: 0.9204
Epoch 39/100
1072000/1072000 - 29s - loss: 0.1886 - acc: 0.9216
Epoch 40/100
1072000/1072000 - 29s - loss: 0.1848 - acc: 0.9234
Epoch 41/100
1072000/1072000 - 29s - loss: 0.1810 - acc: 0.9252
Epoch 42/100
1072000/1072000 - 29s - loss: 0.1778 - acc: 0.9264
Epoch 43/100
1072000/1072000 - 29s - loss: 0.1760 - acc: 0.9275
Epoch 44/100
1072000/1072000 - 29s - loss: 0.1734 - acc: 0.9287
Epoch 45/100
1072000/1072000 - 29s - loss: 0.1703 - acc: 0.9301
Epoch 46/100
1072000/1072000 - 29s - loss: 0.1677 - acc: 0.9312
Epoch 47/100
1072000/1072000 - 29s - loss: 0.1652 - acc: 0.9322
Epoch 48/100
1072000/1072000 - 29s - loss: 0.1629 - acc: 0.9333
Epoch 49/100
1072000/1072000 - 29s - loss: 0.1607 - acc: 0.9341
Epoch 50/100
1072000/1072000 - 29s - loss: 0.1588 - acc: 0.9353
Epoch 51/100
1072000/1072000 - 29s - loss: 0.1570 - acc: 0.9360
Epoch 52/100
1072000/1072000 - 29s - loss: 0.1542 - acc: 0.9374
Epoch 53/100
1072000/1072000 - 29s - loss: 0.1522 - acc: 0.9382
Epoch 54/100
1072000/1072000 - 29s - loss: 0.1529 - acc: 0.9377
Epoch 55/100
1072000/1072000 - 29s - loss: 0.1491 - acc: 0.9393
Epoch 56/100
1072000/1072000 - 29s - loss: 0.1471 - acc: 0.9403
Epoch 57/100
1072000/1072000 - 29s - loss: 0.1467 - acc: 0.9406
Epoch 58/100
1072000/1072000 - 29s - loss: 0.1452 - acc: 0.9412
Epoch 59/100
1072000/1072000 - 29s - loss: 0.1429 - acc: 0.9423
Epoch 60/100
1072000/1072000 - 29s - loss: 0.1422 - acc: 0.9425
Epoch 61/100
1072000/1072000 - 29s - loss: 0.1418 - acc: 0.9428
Epoch 62/100
1072000/1072000 - 29s - loss: 0.1396 - acc: 0.9436
Epoch 63/100
1072000/1072000 - 29s - loss: 0.1374 - acc: 0.9447
Epoch 64/100
1072000/1072000 - 29s - loss: 0.1379 - acc: 0.9445
Epoch 65/100
1072000/1072000 - 29s - loss: 0.1366 - acc: 0.9450
Epoch 66/100
1072000/1072000 - 29s - loss: 0.1350 - acc: 0.9458
Epoch 67/100
1072000/1072000 - 29s - loss: 0.1345 - acc: 0.9458
Epoch 68/100
1072000/1072000 - 29s - loss: 0.1335 - acc: 0.9462
Epoch 69/100
1072000/1072000 - 29s - loss: 0.1319 - acc: 0.9473
Epoch 70/100
1072000/1072000 - 29s - loss: 0.1313 - acc: 0.9474
Epoch 71/100
1072000/1072000 - 29s - loss: 0.1306 - acc: 0.9475
Epoch 72/100
1072000/1072000 - 29s - loss: 0.1287 - acc: 0.9486
Epoch 73/100
1072000/1072000 - 29s - loss: 0.1286 - acc: 0.9486
Epoch 74/100
1072000/1072000 - 29s - loss: 0.1281 - acc: 0.9487
Epoch 75/100
1072000/1072000 - 29s - loss: 0.1288 - acc: 0.9483
Epoch 76/100
1072000/1072000 - 29s - loss: 0.1249 - acc: 0.9500
Epoch 77/100
1072000/1072000 - 29s - loss: 0.1247 - acc: 0.9501
Epoch 78/100
1072000/1072000 - 29s - loss: 0.1246 - acc: 0.9501
Epoch 79/100
1072000/1072000 - 29s - loss: 0.1239 - acc: 0.9505
Epoch 80/100
1072000/1072000 - 29s - loss: 0.1231 - acc: 0.9509
Epoch 81/100
1072000/1072000 - 29s - loss: 0.1231 - acc: 0.9509
Epoch 82/100
1072000/1072000 - 29s - loss: 0.1219 - acc: 0.9515
Epoch 83/100
1072000/1072000 - 29s - loss: 0.1214 - acc: 0.9515
Epoch 84/100
1072000/1072000 - 29s - loss: 0.1208 - acc: 0.9520
Epoch 85/100
1072000/1072000 - 29s - loss: 0.1205 - acc: 0.9518
Epoch 86/100
1072000/1072000 - 29s - loss: 0.1200 - acc: 0.9521
Epoch 87/100
1072000/1072000 - 29s - loss: 0.1179 - acc: 0.9532
Epoch 88/100
1072000/1072000 - 29s - loss: 0.1182 - acc: 0.9528
Epoch 89/100
1072000/1072000 - 29s - loss: 0.1199 - acc: 0.9523
Epoch 90/100
1072000/1072000 - 29s - loss: 0.1168 - acc: 0.9534
Epoch 91/100
1072000/1072000 - 29s - loss: 0.1162 - acc: 0.9537
Epoch 92/100
1072000/1072000 - 29s - loss: 0.1158 - acc: 0.9539
Epoch 93/100
1072000/1072000 - 29s - loss: 0.1155 - acc: 0.9539
Epoch 94/100
1072000/1072000 - 29s - loss: 0.1152 - acc: 0.9540
Epoch 95/100
1072000/1072000 - 29s - loss: 0.1147 - acc: 0.9544
Epoch 96/100
1072000/1072000 - 29s - loss: 0.1155 - acc: 0.9541
Epoch 97/100
1072000/1072000 - 29s - loss: 0.1141 - acc: 0.9545
Epoch 98/100
1072000/1072000 - 29s - loss: 0.1135 - acc: 0.9548
Epoch 99/100
1072000/1072000 - 29s - loss: 0.1116 - acc: 0.9556
Epoch 100/100
1072000/1072000 - 29s - loss: 0.1130 - acc: 0.9549

In [131]:
validation_size = 800000

X_validate = X_test[-validation_size:]
Y_validate = Y_test[-validation_size:]
X_test = X_test[:-validation_size]
Y_test = Y_test[:-validation_size]
score,acc = model.evaluate(X_test, Y_test, verbose = 2, batch_size = batch_size)
print("score: %.2f" % (score))
print("acc: %.2f" % (acc))

640000/640000 - 6s - loss: 0.4869 - acc: 0.8964
score: 0.49
acc: 0.90